
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YourView</title>
</head>
<body>
    <div> 
        Your view in Test Controller
    </div>
</body>
</html>
